@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div class="container>
      <div class="jumbotron">
       <p>
            <h2>Here you can collect your best ideas.</h2>
      </p>
       <p>
            <h2>Feel free to join in!</h2>
      </p>           
@*
          <h2>Default users data:</h2>
<table>
    <tr>
        <th>
            UserName
        </th>
        <th>
            Password
        </th>
        <th>
            Role
        </th>
        <th>
            Role description
        </th>
        <th></th>
    </tr>
    <tr>
        <td>           
            admin
        </td>
        <td>
            admin1
        </td>
        <td>           
            Administrators
        </td>
        <td>
            Able to create, edit, and delete/restore any note. Also can completely remove any note from the system
        </td>
    </tr>
        <tr>
        <td>           
            anotheradmin
        </td>
        <td>
            anotheradmin
        </td>
        <td>
           
            Administrators
        </td>
        <td>
            Able to create, edit, and delete/restore any note. Also can completely remove any note from the system
        </td>

    </tr>
    <tr>
        <td>
           
            Nastia
        </td>
        <td>
            nastia1
        </td>
        <td>
           
            Moderators
        </td>
        <td>
            Able to create, edit, and delete/restore any note
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
           
            andy
        </td>
        <td>
            andy123
        </td>
        <td>
           
            user
        </td>
        <td>
            Able to create, edit and delete notes
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
           
            mark
        </td>
        <td>
            mark123
        </td>
        <td>
           
            user
        </td>
        <td>
            Able to create, edit and delete notes
        </td>
        <td>

        </td>
    </tr>
</table>*@
      </div>
</div>

